

.downsell2-ctlr a.fl-btn, 
.downsell2-ctlr .fl-btn{
	background: rgb(252, 141, 32);
}
.downsell2-ctlr .upsell-1-sec-1-rgt h2{
	font-size: 34px;
}

@media(max-width: 1199px){
	

}

@media(max-width: 991px){
	.downsell2-ctlr .upsell-1-sec-1-rgt h2{
		font-size: 31px;
	}
	
}

@media(max-width: 767px){
	.downsell2-ctlr .upsell-1-sec-1-rgt h2{
		font-size: 30px;
	}


}

@media(max-width: 575px){
	.downsell2-ctlr .upsell-1-sec-1-rgt h2{
		font-size: 28px;
	}


}

