.downsell3-ctlr .upsell-1-sec-1-rgt h2{
	font-size: 34px;
	margin-bottom: 30px;
}
.downsell3-ctlr a.fl-btn, 
.downsell3-ctlr .fl-btn {
    background: rgb(252, 141, 32);
}


@media(max-width: 815px){
	.ups3-section2-desc br{
		display: none;
	}
@media(max-width: 1199px){
	

}

@media(max-width: 991px){
	
	
}

@media(max-width: 767px){
	


}

@media(max-width: 575px){
	


}

@media(max-width: 479px){


}

@media(max-width: 359px){

}