.downsell1-ctlr .upsell-1-sec-1-rgt h2{
	font-size: 34px;
}

.downsell1-ctlr .upsell-1-sec-1-rgt h6{
	font-weight: 400;
	font-size: 19px;
	color: #bb0f00;
	margin-bottom: 25px;
}
.downsell1-ctlr a.fl-btn, 
.downsell1-ctlr .fl-btn{
	background: rgb(252, 141, 32);
}
.downsell1-ctlr .ups2-section3-btn{
	padding-top: 30px;
}
.downsell1-ctlr .upsell-1-sec-1-rgt{
	padding-right: 14px;
}


@media(max-width: 1199px){
	

}

@media(max-width: 991px){
	.downsell1-ctlr .upsell-1-sec-1-rgt h2 {
	    font-size: 32px;
	}
	.downsell1-ctlr .upsell-1-sec-1-rgt h6{
		font-size: 18px;
	}
	
}

@media(max-width: 767px){
	.upsell-1-sec-1-lft img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.upsell-1-sec-1-rgt {
	    padding-left: 0;
	    padding-right: 0;
	}
	.downsell1-ctlr .ups2-section3-btn {
	    padding-top: 20px;
	}
	.downsell1-ctlr .upsell-1-sec-1-rgt h2 {
	    font-size: 30px;
	}
	.downsell1-ctlr .upsell-1-sec-1-rgt h6{
		font-size: 17px;
	}
	.downsell1-ctlr .upsell-1-sec-1-rgt {
	    padding-right: 0;
	}
	.downsell1-ctlr .upsell-1-sec-1-rgt h6 br{
		display: none;
	}

}

@media(max-width: 575px){
	.downsell1-ctlr .upsell-1-sec-1-rgt h2 {
	    font-size: 28px;
	}


}
