.downsell1-ctlr .upsell-1-sec-1-rgt h2{
	font-size: 34px;
}

.downsell1-ctlr .upsell-1-sec-1-rgt h6{
	font-weight: 400;
	font-size: 19px;
	color: #bb0f00;
	margin-bottom: 25px;
}
.downsell1-ctlr a.fl-btn, 
.downsell1-ctlr .fl-btn{
	background: rgb(252, 141, 32);
}
.downsell1-ctlr .ups2-section3-btn{
	padding-top: 30px;
}