.header{
	padding-top: 20px;
}


.fl-page-entry-hdr h1{
	margin-bottom: 2px;
	font-weight: 700;
	text-align: center;
}
.fl-page-entry-hdr p{
	margin-bottom: 0;
	background: rgb(255, 227, 0);
	text-align: center;
	font-size: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 25px;
}
.hdr-progress{
	text-align: center;
}