.typ-page-logo{
	padding: 20px 0;
}
.typ-page-logo-cntlr{
	text-align: center;
	
}
.typ-section1-cntlr{
	padding: 0!important;
}
.typ-page-logo-cntlr a{
	display: inline-block;
	max-width: 186px;
}
.typ-page-body-cntlr{
	border-radius: 10px;
	padding-bottom: 40px;
	margin-bottom: 40px;
}
.typ-section1-title{
	font-size: 38px;
}
.typ-header-inr{
	padding-top: 35px;
	padding-bottom: 25px;
}


@media(max-width: 991px){
	.typ-section1-title{
		font-size: 35px;
	}
}
@media(max-width: 767px){
	.typ-section1-title{
		font-size: 32px;
	}
}
@media(max-width: 575px){
	.typ-section1-title{
		font-size: 30px;
	}
}