.ups2-section1-title{
	font-size: 46px;
	text-align: center;
	margin-bottom: 10px;
}
.ups2-section2-img{
	margin-bottom: 35px;
}
.ups2-section2-desc{
	padding-top: 20px;
}
.big-mb{
	margin-bottom: 45px;
}
.ups2-section2-desc .big-mb{

}