.upsell-1-sec-1{

}
.upsell-1-sec-1-lft img{
	margin-bottom: 22px;
}
.upsell-1-sec-1-rgt{
	padding-left: 20px;
}
.upsell-1-sec-1-rgt h2{
	margin-bottom: 15px;
	text-transform: capitalize;
}
.upsell-1-sec-1-rgt h4{
	text-transform: capitalize;
}
.upsell-1-sec-1-rgt em{
	display: inline-block;
	vertical-align: baseline;
	margin-bottom: 20px;
}
.upsell-1-sec-1-rgt h5{
	margin-bottom: 30px;
}