.upsell-1-sec-1{
	padding-bottom: 70px;
}
.upsell-1-sec-1-lft{
	text-align: center;
}
.upsell-1-sec-1-lft img{
	margin-bottom: 22px;
}
.downsell2-img-center{
	max-width: 150px;
}
.upsell-1-sec-1-rgt{
	padding-left: 20px;
}
.upsell-1-sec-1-rgt h2{
	margin-bottom: 15px;
	text-transform: capitalize;
}
.upsell-1-sec-1-rgt h4{
	text-transform: capitalize;
}
.upsell-1-sec-1-rgt em{
	display: inline-block;
	vertical-align: baseline;
	margin-bottom: 20px;
}
.upsell-1-sec-1-rgt h5{
	margin-bottom: 30px;
}

.upsell1-ctlr a.fl-btn, 
.upsell1-ctlr .fl-btn{
	background: rgb(252, 141, 32);
}
.upsell1-ctlr .ups2-section3-btn{
	margin-top: 5px;
}