.upsell-1-sec-1{
	padding-bottom: 75px;
}
.upsell-1-sec-1-lft{
	text-align: center;
}
.upsell-1-sec-1-lft img{
	margin-bottom: 22px;
}
.downsell2-img-center{
	max-width: 150px;
}
.upsell-1-sec-1-rgt{
	padding-left: 20px;
	padding-right: 10px;
}
.upsell-1-sec-1-rgt h2{
	margin-bottom: 15px;
	text-transform: capitalize;
}
.upsell-1-sec-1-rgt h4{
	text-transform: capitalize;
}
.upsell-1-sec-1-rgt em{
	display: inline-block;
	vertical-align: baseline;
	margin-bottom: 20px;
}
.upsell-1-sec-1-rgt h5{
	margin-bottom: 30px;
}

.upsell1-ctlr a.fl-btn, 
.upsell1-ctlr .fl-btn{
	background: rgb(252, 141, 32);
}
.upsell1-ctlr .ups2-section3-btn{
	margin-top: 5px;
}



@media(max-width: 1199px){
	

}

@media(max-width: 991px){
	.upsell-1-sec-1 {
	    padding-bottom: 60px;
	}
	
}

@media(max-width: 767px){
	.upsell-1-sec-1-lft img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.upsell-1-sec-1-rgt {
	    padding-left: 0;
	    padding-right: 0;
	}
	.upsell-1-sec-1 {
	    padding-bottom: 50px;
	}


}

@media(max-width: 575px){
	.upsell-1-sec-1 {
	    padding-bottom: 40px;
	}


}
